<!DOCTYPE html>
<head>

</head>
<body>
    <h3> hello {{username}}</h3>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />>
    <p><h1 style="text-align:center">Enter your grades</h1></p>
    <form action="http://localhost:5000/results" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <p>Math<input type="text" name="math"/></p>
        <p>English<input type="text" name="english"/></p>
        <p>Biology<input type="text" name="biology"/></p>
        <p>Music<input type="text" name="music"/></p>
        <input type="submit" value="submit"/>
    </form>
</body>